@charset "UTF-8";
body{
    background-color: black;
}
.carouselExampleCaptions{
    margin-bottom: 20px!important
}

.d-block.w-100{
    height: 900px;
    object-fit: cover;
}

/*Representação da Navbar Fisicamente*/
@media screen and (min-width:992px){
    #Navbar{
    height: 198px;
    background-color: #1f2022;
    }
}
@media screen and (max-width:992px){
    #Navbar{
    height: 140px;
    background-color: #1f2022;
    }
}