@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@1,300&family=Noto+Serif:ital@1&family=Permanent+Marker&display=swap');

:root{
    --cor-fundo: rgba(32, 30, 30);
    --cor-letras: rgb(190, 49, 49);
    --fonte-Marvel:'Josefin Sans', sans-serif;
    --fonte-normal:'Noto Serif', serif;
    --fonte-titulo:'Permanent Marker', cursive;
    --fonte-destaque:'Bebas Neue', cursive;
}
#imagem3x1{
    object-fit: cover !important;
}
nav.navbar.navbar-light.bg-light.fixed-top, .navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top{
    background-color: var(--cor-fundo)!important;
    
}
#offcanvasNavbar{
    background-color: var(--cor-fundo);
    color: var(--cor-letras) !important;
}
#Navbar{
    height: 180px;
}
body{
    background-color: var(--cor-fundo) !important;
}
.row{
    width: 100% !important;
}
.estilo {
    font-size: 30px ; 
    font-family: var(--fonte-titulo);
    color: aliceblue;
}
#carouselExampleCaptions{
    margin: 0 auto;
   width: 90% !important;
   object-fit: cover;
   object-position: center;
}

img:hover{
    color:rgb(190, 49, 49);
    transform: scale(1.1);
    transition-duration: .3s;
    margin-bottom: 20px;
}
.col.order-1{
    margin-bottom: 30px;
    text-align: center;
}

.estilo1{
    background-color: rgb(0, 0, 0);
}
a {
     text-decoration: none; 
     
   /* }
.main-content{
    display: grid;
    grid-template-columns: repeat(3,445px);
   }
    */
}
p.carrossel{
    font-size: 20px;
}

h5.carrossel{
    font-size: 30px;
    font-family: var(--fonte-destaque);
}